html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  color: #222;
  font-family: "PT Serif", serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #c9b5ab;
}

img {
  width: 100%;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

h1,h2 {
color: #3f1622;
font-size: 1.5rem;
font-family: "PT sans", sans-serif;
}

nav {
  color: #8f2440;
}

nav ol {
  list-style-type: none;
}

figcaption {
  font-style: italic;
}

blockquote {
  font-size: .8rem;
}

blockquote p {
  font-size:
}
a:hover {
  color: #3f1622;
}

dt {
  front-weight: bold;
}

.varieties {
  list-style-type: lower-greek;
}

aside ul {
  front-size:.8rem;
  list-style-type: circle;
}

small {
  front-size: .8rem;
}
